.o_search_panel {
    padding: 10px;
}

.o_left_panel {
    float: left;
    padding: 10px;
}
.o_right_panel {
    float: right;
    padding: 10px;
}
.o_item {
    padding: 20px;
    border: groove;
}