.product-list ul {
    list-style:none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    padding-bottom: 100px;
}
/* .product-list li {
    margin-left: 40%;
    margin-bottom:50px;
} */

/* .product-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    padding-bottom: 100px;
} */

/* img {
    max-width: 40%;
    height: auto;
} */

body {
    background-color:rgba(128, 0, 128, 0.438);
}

.product img {
    width:  100px;
    height: 70px;
    border-radius: 5px;
}