<html>
<script src="../static/js/index.js"></script>
<link rel="stylesheet" href="../static/css/style.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.2/css/bootstrap.min.css">

    <div class="global-container">
        <div class="card login-form">
            <div class="card-body">
                <div class="card-text">
                    <div id="div_msg" name="div_msg" style="display: none;">
                    </div>
                </div>
            </div>
        </div>
    </div> 
</html>

