<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Homepage</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/homepage.css">
    </head>
    <body>
        <h1>welcome to odoo E-commerce</h1>     
        <ul>
            <li><a href="/shop">Shop</a></li>
            <button style="position: absolute; right: 10px;" id="clc">Home Page</button>
          </ul>
    </body>
    <script type="text/javascript" src="../static/script/shop.js"></script>
</html>