<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Homepage</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/homepage.css">
    </head>
    <body>
        <h1>welcome to odoo E-commerce</h1>     
        <ul>
            <li><a href="/shop">Shop</a></li>
            <li><a>Cart: <span id="count" class="count"> 0 </span></a></li>
            <button onclick="clearCart()">Clear</button>
            <button style="position: absolute; right: 10px;" id="clc">Home Page</button>
        </ul>
        <div class="product-container">
            <div class="product-header">
                <h5 class="product-title">PRODUCT</h5>
                <h5 class="price">PRICE</h5>
                <h5 class="quantity">QUANTITY</h5>
                <h5 class="total">TOTAL</h5>
            </div>
            <div class="products">

            </div>
        </div>
    </body>

    <script type="text/javascript" src="../static/script/shop.js"></script>
</html>