<html>
    <head>
        <title>Login page</title>
        <link rel="stylesheet" href="../static/index.css">
    </head>
    <body>
        <form name="login">
            <h1> Odoo E-commerce </h1>
            <p>Username <input type="text" name="userid"/></p>      
            <p>Password <input type="password" name="pswrd"/></p><br>
            <input type="button" onclick="check(form)" value="Login"/>
            <input type="reset" value="Cancel"/>
        </form>
    <script type="text/javascript" src="../static/script/login.js"></script>
    </body>
</html>